<a href="https://colab.research.google.com/github/PonamarenkoSS/python_homework/blob/task_sem10/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random

In [2]:
import pandas as pd

In [3]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  robot

In [30]:
# Вариант 1
set_lst = set(lst)
set_lst_1 = list(set_lst)
index = 0
for i in range(len(set_lst_1)):
  for j in range(len(lst)):
    if lst[j] == set_lst_1[i]:
      lst[j] = index
  index += 1
data = pd.DataFrame({'whoAmI':lst})
data

    whoAmI
0        0
1        0
2        0
3        0
4        0
5        1
6        0
7        0
8        1
9        1
10       0
11       0
12       0
13       1
14       1
15       1
16       1
17       1
18       1
19       1

In [29]:
# Вариант 2
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
new_lst = pd.DataFrame({'robot': [1 if i == 'robot' else 0 for i in lst], 'human': [1 if j == 'human' else 0 for j in lst]})
new_lst

    robot  human
0       0      1
1       0      1
2       0      1
3       0      1
4       0      1
5       1      0
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      0      1
12      0      1
13      1      0
14      1      0
15      1      0
16      1      0
17      1      0
18      1      0
19      1      0